<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bryan_2.geekout_sqltest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/geekouticon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/geekouticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:label="Geekout"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StartMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".AddTeamsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".DiceRoller"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".QuestionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".BiddingActivity"
            android:label="Geekout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".NamingActivity"
            android:label="Geekout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ScoreboardActivity"
            android:label="Geekout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>





    </application>

</manifest>